:root{
    --light-grey:#a6abbb;
}

.subheading span :hover {
    color: white;
    cursor: pointer;
}


.projects {
    margin-top: 16vh;
    position: absolute;
}

.projects-list {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 8px;
}

.projects .heading {
    font-size: 16px;
    color: white;
    opacity: 0.3;
    font-family: Carbon-Bold;
    margin-block-end: 0rem;
    margin-block-start: 0rem;
}

.projects .move-hover-projects {
    display: flex;
    padding-top: 0.5vh;
}

.projects-list .heading {
    font-size: 13px;
    font-family: Space-Mono;
    font-weight: 400;
    opacity: 1;
    color: #d6dae2;
    letter-spacing: -0.2px;
    line-height: 21px;
    margin-block-end: 0rem;
    margin-block-start: 0rem;
    cursor: pointer;
}

.move-hover-projects :hover {
    color: white;
    font-weight: 600;
}

.move-hover-projects :hover + .subheading {
    animation: hover-me;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
    animation-fill-mode: forwards;
}

.projects-list .subheading {
    font-size: 11px;
    font-family: Space-Mono;
    font-weight: 500;
    opacity: 0;
    color: #d6dae2;
    letter-spacing: -0.2px;
    line-height: 23px;
    margin-block-end: 0rem;
    margin-block-start: 0rem;
    margin-left: 6px;
}

.show-more {
    background-color: transparent;
    font-family: Carbon-Bold;
    font-size: 14px;
    color: #d6dae2;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    padding-top: 2vh;
}

.content-wrapper :hover + .arrow {
    color: white;
}

.content-wrapper .show-more-wrapper :hover {
    color: white;
}

.content-wrapper .show-more-wrapper :focus {
    outline: none;
    border: none;
}

.arrow {
    background-repeat: no-repeat;
    margin-top: 12px;
    padding-left: 8px;
    animation: move-arrow;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
    animation-iteration-count: infinite;
}

.show-more-wrapper {
    display: flex;
    padding-top: 14vh;
    opacity: 0;
    animation-name: show-objects;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes move-arrow {
    0% {
            transform: translate(0px);
    }
    50% {
            transform: translate(2px);
    }
    100% {
            transform: translate(0px);
    }
}

.tooltip span {
    display: none;
    color: white;
    position: relative;
    background-color: #0d0f10;
    padding: 16px;
    border-radius: 4px;
    font-size: 11px;
    line-height: 22px;
}

.tooltip:hover span {
    display: block;
    position: fixed;
    overflow: hidden;
}



<!-- <div class="show-more-wrapper">
                                                <div
                                                        onclick="classToggle()"
                                                        class="show-more"
                                                        type="button"
                                                        id="show-more"
                                                >
                                                        Show more
                                                </div>
                                                <a class="arrow">
                                                        <img src="Assets/arrow.svg" alt="" />
                                                </a>
                                        </div> -->

                                        <!-- <section class="body-wrapper">
                                                <div class="item" id="item1">
                                                        <div class="heading">
                                                                <h2>
                                                                        What?
                                                                </h2>
                                                        </div>
                                                        <div class="subheading">
                                                                <h3>
                                                                        I geek out on
                                                                        <span class= "tooltip" style="color: #e4e7ed;"><b>Design Systems</b><span id="tooltip-span"><i><b>/dɪˈzaɪn sɪs.təm/</b></i></br>Everything but your sketch library</span></span>,
                                                                        <span class= "tooltip" style="color: #e4e7ed;"><b>Human Psychology</b><span id="tooltip-span">Cognitive Science</br>Visceral Reactions</br>Scanning Patterns</span></span>, and
                                                                        Smoothies. I make stuff right and make right stuff. I deeply care about music, art and my <span class= "tooltip" style="color: #e4e7ed;"><b>dog</b><span class = "dog-tooltip" id="tooltip-span"><div class = "kaju"><img src="Assets/Kaju.png"></div><b>Name:</b> Kaju Trikha</br><b>Moto:</b> Do no harm but take no shit</br><b>Height:</b> 8 inches</br><b>Loves:</b> Back rubs and Peanut Butter</br><b>Hates:</b> Mondays and Starlight</span></span>
                                                                </h3>
                                                        </div>
                                                </div>

                                                <div class="item" id="item2">
                                                        <div class="heading">
                                                                <h2>
                                                                        Why?
                                                                </h2>
                                                        </div>
                                                        <div class="subheading">
                                                                <h3>
                                                                        To justify my degree
                                                                        & ostentatious interest in design. Also I think,
                                                                        Data shapes experiences... analayse through data
                                                                        and solve through design
                                                                </h3>
                                                        </div>
                                                </div>

                                                <div class="item1" id="item3">
                                                        <div class="heading">
                                                                <h2>
                                                                        How?
                                                                </h2>
                                                        </div>
                                                        <div class="subheading">
                                                                <h3>
                                                                        I put good ideas on
                                                                        <span class="link" style="color: #e4e7ed;"
                                                                                ><b
                                                                                        ><a
                                                                                                href="https://medium.com/@rtrikha"
                                                                                                target="_blank"
                                                                                                >Medium</a
                                                                                        ></b
                                                                                ></span
                                                                        >
                                                                        and bad ideas on
                                                                        <span class="link" style="color: #e4e7ed;"
                                                                                ><b
                                                                                        ><a
                                                                                                href="https://twitter.com/rstrikha"
                                                                                                target="_blank"
                                                                                                >Twitter</a
                                                                                        ></b
                                                                                ></span
                                                                        >. Asking random shit on reddit and adding good
                                                                        music to my
                                                                        <span class="link" style="color: #e4e7ed;"
                                                                                ><b
                                                                                        ><a
                                                                                                href="https://music.apple.com/in/playlist/the-last-cigarette/pl.u-6mo4aW4HBPaW6jl"
                                                                                                target="_blank"
                                                                                                >playlist</a
                                                                                        ></b
                                                                                ></span
                                                                        >
                                                                </h3>
                                                        </div>
                                                </div>
                                        </section> -->

                                        <!-- <div class="projects" id="projects">
                                                <div class="heading">SELECTED PROJECTS</div>
                                                <ul class="projects-list" role="navigation">
                                                        <div class="move-hover-projects">
                                                                <div class="heading">Garden Offshoot</div>
                                                                <div class="subheading">
                                                                        ever evolving design system to solve the
                                                                        problems of component based design
                                                                </div>
                                                        </div>
                                                        <div class="move-hover-projects">
                                                                <div class="heading">Properly Operations</div>
                                                                <div class="subheading">
                                                                        solution for hospitality verticals to solve
                                                                        their task allocation, escalation handling, &
                                                                        hierarchical structural problems
                                                                </div>
                                                        </div>
                                                        <div class="move-hover-projects">
                                                                <div class="heading">Rubber Numbers</div>
                                                                <div class="subheading">
                                                                        fintech solution for holistic view of
                                                                        organisation
                                                                </div>
                                                        </div>
                                                        <div class="move-hover-projects">
                                                                <div class="heading">Music:ED</div>
                                                                <div class="subheading">
                                                                        overhauling the entire experience of a website
                                                                </div>
                                                        </div>
                                                        <div class="move-hover-projects">
                                                                <div class="heading">Blade Runner</div>
                                                                <div class="subheading">
                                                                        Arcade-Platform game made using Unity
                                                                </div>
                                                        </div>
                                                        <div class="move-hover-projects">
                                                                <div class="heading">Asilverse</div>
                                                                <div class="subheading">
                                                                        branding refinement and web solution
                                                                </div>
                                                        </div>
                                                </ul>
                                        </div> -->