@font-face {
  src: url(/resources/fonts/mono-300.ttf);
  font-family: mono-300;
}

@font-face {
  src: url(/resources/fonts/mono-500.ttf);
  font-family: mono-500;
}

@font-face {
  src: url(/resources/fonts/heading.ttf);
  font-family: heading;
}

body {
  background-color: var(--a-b);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 0;
}

.header-nav .nav-text {
  color: var(--f-l);
  font-family: heading;
  font-size: var(--f-t-nt);
  letter-spacing: var(--l-s-nt);
  line-height: var(--l-h-nt);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0px;
}

.header-nav .nav-text:hover {
  color: var(--f-m);
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
}

.dud {
  color: var(--f-l);
}

.content-wrapper {
  padding-top: 10vh;
}

.content-wrapper .hero-wrapper .heading {
  color: var(--f-h);
  font-family: mono-300, monospace;
  font-size: var(--f-t-h);
  letter-spacing: var(--l-s-h);
  line-height: var(--l-h-h);
}

.content-wrapper .hero-wrapper .subheading {
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-misc);
  letter-spacing: var(--l-s-misc);
  line-height: var(--l-h-misc);
  padding-top: 2vh;
  opacity: 0;
  width: 50%;
  -webkit-animation-name: show-objects;
          animation-name: show-objects;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
          animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.content-wrapper #projects {
  padding-top: 10vh;
  opacity: 0;
  -webkit-animation-name: show-objects;
          animation-name: show-objects;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
          animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.content-wrapper #projects .heading {
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-sh);
  letter-spacing: var(--l-s-sh);
  line-height: var(--l-h-sh);
  color: var(--f-h);
}

.content-wrapper #projects .subheading {
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-sh);
  letter-spacing: var(--l-s-sh);
  line-height: var(--l-h-sh);
  color: var(--t-f);
  padding-top: 0.5vh;
}

#arrow {
  opacity: 0;
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  margin-top: 16px;
}

.project-list a:hover {
  cursor: pointer;
}

.project-list a:hover > #arrow {
  -webkit-animation-name: move-arrow;
          animation-name: move-arrow;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
          animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.project-list a:visited {
  text-decoration: none;
}

.project-list a:link {
  text-decoration: none;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .flex-wrapper > div {
  margin-right: 6vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 21%;
          flex: 1 0 21%;
  max-width: 33%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-bottom: 4vh;
}

/*

* Footer

*/
.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0vh;
  margin-right: 0;
  background: var(--a-b);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
  opacity: 0;
  -webkit-animation: move-footer;
          animation: move-footer;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.footer-nav .nav-text {
  color: var(--f-l);
  font-family: heading;
  font-size: var(--f-t-nt);
  letter-spacing: var(--l-s-nt);
  line-height: var(--l-h-nt);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0px;
}

.footer-nav .nav-text:hover {
  color: var(--f-m);
}

.footer-nav .nav-text {
  margin-left: 3vw;
}

/*

* All the animations

*/
@-webkit-keyframes move-arrow {
  from {
    opacity: 0;
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes move-arrow {
  from {
    opacity: 0;
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes show-context {
  from {
  }
  to {
    opacity: 0.3;
  }
}

@keyframes show-context {
  from {
  }
  to {
    opacity: 0.3;
  }
}

@-webkit-keyframes show-objects {
  from {
    opacity: 0;
    -webkit-transform: translatey(1vh);
            transform: translatey(1vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0vh);
            transform: translatey(0vh);
  }
}

@keyframes show-objects {
  from {
    opacity: 0;
    -webkit-transform: translatey(1vh);
            transform: translatey(1vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(0vh);
            transform: translatey(0vh);
  }
}

@-webkit-keyframes move-footer {
  from {
  }
  to {
    opacity: 1;
  }
}

@keyframes move-footer {
  from {
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .footer-nav {
    width: 88%;
  }
  .footer-nav .nav-text {
    margin-left: 6vw;
  }
  .main-wrapper {
    width: 88vw;
  }
  .header-nav {
    padding-top: 6vh;
  }
}

@media screen and (max-width: 900px) {
  .content-wrapper .hero-wrapper .subheading {
    width: 72%;
  }
  #projects {
    padding-bottom: 6vh;
  }
  #projects .flex-wrapper > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    max-width: 36%;
  }
}

@media screen and (max-width: 560px) {
  .footer-nav .nav-text {
    margin-left: 8vw;
  }
  .content-wrapper .hero-wrapper .subheading {
    width: 100%;
  }
  #projects .flex-wrapper > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    max-width: 50%;
  }
  #arrow {
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  .footer-nav .nav-text {
    margin-left: 10vw;
  }
  .content-wrapper #projects {
    padding-top: 6vh;
  }
  #projects .flex-wrapper > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */