@import 'theme';

body {
	background-color: $a-b;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	user-select: none;
}

.header-nav {
	.nav-text {
		@include nav-text;
	}
}
.main-wrapper {
	position: relative;
	margin: 0 auto;
	width: 80vw;
	height: 100vh;
}

.dud {
	color: $f-l;
}
.content-wrapper {
	padding-top: 8vh;
	padding-bottom: 8vh;

	.hero-wrapper {
		.heading {
			@include heading;
		}
		.subheading {
			@include misc-text;
			padding-top: 2vh;
			opacity: 0;
			width: 50%;
			animation-name: show-objects;
			animation-duration: 0.3s;
			animation-delay: 1s;
			animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
			animation-fill-mode: forwards;
		}
	}
	#projects {
		padding-top: 10vh;
		opacity: 0;
		animation-name: show-objects;
		animation-duration: 0.3s;
		animation-delay: 1.4s;
		animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
		animation-fill-mode: forwards;

		.heading {
			@include sub-heading;
			color: $f-h;
		}

		.subheading {
			@include sub-heading;
			color: $t-f;
			padding-top: 0.5vh;
		}
	}
}

#arrow {
	opacity: 0;
	background-repeat: no-repeat;
	left: 0;
	bottom: 0;
	margin-top: 16px;
}

.project-list a:hover {
	cursor: pointer;
}

.project-list a:hover > #arrow {
	animation-name: move-arrow;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.59, 0, 0.42, 0.99);
	animation-fill-mode: forwards;
}

.project-list a:visited {
	text-decoration: none;
}

.project-list a:link {
	text-decoration: none;
}

.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
}

#projects .flex-wrapper > div {
	margin-right: 6vw;
	flex: 1 0 21%;
	max-width: 33%;
	flex-grow: 0;
	margin-bottom: 5vh;
}

/*

* Footer

*/
.footer-nav {
	width: 80vw;
	opacity: 0;
	animation: move-footer;
	animation-fill-mode: forwards !important;
	animation-duration: 0.6s;
	animation-delay: 1.8s;

	.nav-text {
		@include nav-text;
		margin-left: 3vw;
	}
}
/*

* All the animations

*/

@keyframes move-arrow {
	from {
		opacity: 0;
		transform: translateX(-4px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes show-context {
	from {
	}
	to {
		opacity: 0.3;
	}
}

@keyframes show-objects {
	from {
		opacity: 0;
		transform: translatey(1vh);
	}
	to {
		opacity: 1;
		transform: translatey(0vh);
	}
}

@keyframes move-footer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		display: block;
	}
}

@media screen and (max-width: 720px) {
	.footer-nav {
		width: 88%;

		.nav-text {
			margin-left: 6vw;
		}
	}
	.main-wrapper {
		width: 88vw;
	}

	.header-nav {
		padding-top: 6vh;
	}
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		.hero-wrapper {
			.subheading {
				width: 72%;
			}
		}
	}

	#projects {
		padding-bottom: 6vh;
	}
	#projects .flex-wrapper > div {
		flex: 1 0 40%;
		max-width: 36%;
	}
}

@media screen and (max-width: 560px) {
	.footer-nav {
		.nav-text {
			margin-left: 8vw;
		}
	}
	.content-wrapper {
		.hero-wrapper {
			.subheading {
				width: 100%;
			}
		}
	}
	#projects .flex-wrapper > div {
		flex: 1 0 40%;
		max-width: 50%;
	}
	#arrow {
		display: none;
	}
}

@media screen and (max-width: 420px) {
	.footer-nav {
		.nav-text {
			margin-left: 10vw;
		}
	}
	.content-wrapper {
		padding-top: 8vh;
		#projects {
			padding-top: 8vh;
		}
	}
	#projects .flex-wrapper > div {
		flex: 1 0 100%;
		max-width: 100%;
	}
}

.stroke-dash-1 {
	color: #ffffff;
	word-break: normal;
	font-family: mono-300;
	display: inline-flex;

	&:after {
		content: '';
		position: absolute;
		background: url(/resources/logo/stroke-dash.svg) no-repeat;
		height: 2px;
		width: 60px;
		margin-top: 3.2vh;
		margin-left: -0.6vw;
		transform: rotate(1deg);
	}
}

.stroke-dash-2 {
	color: #ffffff;
	word-break: normal;
	font-family: mono-300;
	display: inline-flex;

	&:after {
		content: '';
		position: absolute;
		background: url(/resources/logo/stroke-dash.svg) no-repeat;
		height: 2px;
		width: 60px;
		margin-top: 3.2vh;
		transform: rotate(181deg);
	}
}
