@font-face {
  src: url(/resources/fonts/mono-300.OTF);
  font-family: mono-300;
}

@font-face {
  src: url(/resources/fonts/heading.ttf);
  font-family: heading;
}

body {
  background-color: var(--a-b);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-nav .nav-text {
  color: var(--f-l);
  font-family: heading;
  font-size: var(--f-t-nt);
  letter-spacing: 0px;
  line-height: var(--l-h-nt);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.header-nav .nav-text:hover {
  color: var(--f-m);
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
}

.content-wrapper {
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.content-wrapper .hero-wrapper .heading {
  color: var(--f-h);
  background-color: var(--f-h);
  font-family: mono-300, monospace;
  font-size: var(--f-t-h);
  letter-spacing: var(--l-s-h);
  line-height: var(--l-h-h);
  color: var(--b-l);
  padding: 28px;
  padding-top: 32px;
  background-color: var(--f-h);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 0px;
}

.content-wrapper .hero-wrapper .subheading {
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-sh);
  letter-spacing: var(--l-s-sh);
  line-height: var(--l-h-sh);
  padding-top: 2vh;
  width: 50%;
}

.content-wrapper .hero-wrapper .subheading a {
  text-decoration: none;
}

.content-wrapper .hero-wrapper .subheading a:visited {
  color: var(--f-h);
}

.content-wrapper #projects {
  padding-top: 10vh;
}

.content-wrapper #projects .heading {
  color: var(--f-h);
  font-family: mono-300, monospace;
  font-size: var(--f-t-body-1);
  letter-spacing: var(--l-s-body-1);
  line-height: var(--l-h-bodyp-1);
  color: var(--f-h);
}

.content-wrapper #projects .subheading {
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-body-2);
  letter-spacing: var(--l-s-body-2);
  line-height: var(--l-h-body-2);
  color: var(--f-m);
  opacity: 0.7;
  padding-top: 1.5vh;
}

.project-list a:hover {
  cursor: pointer;
}

.project-list:hover .subheading {
  opacity: 1 !important;
}

.project-list a:visited {
  text-decoration: none;
}

.project-list a:link {
  text-decoration: none;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .flex-wrapper > div {
  margin-right: 6vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 21%;
          flex: 1 0 21%;
  max-width: 33%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-bottom: 5vh;
}

/*

* Footer

*/
.footer-nav {
  width: 80vw;
}

.footer-nav .nav-text {
  color: var(--f-l);
  font-family: heading;
  font-size: var(--f-t-nt);
  letter-spacing: 0px;
  line-height: var(--l-h-nt);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin-left: 3vw;
}

.footer-nav .nav-text:hover {
  color: var(--f-m);
}

/*

* All the media queries

*/
@media screen and (max-width: 720px) {
  .footer-nav {
    width: 88%;
  }
  .footer-nav .nav-text {
    margin-left: 6vw;
  }
  .main-wrapper {
    width: 88vw;
  }
  .header-nav {
    padding-top: 6vh;
  }
}

@media screen and (max-width: 900px) {
  .content-wrapper .hero-wrapper .subheading {
    width: 72%;
  }
  #projects {
    padding-bottom: 6vh;
  }
  #projects .flex-wrapper > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    max-width: 36%;
  }
}

@media screen and (max-width: 560px) {
  .footer-nav .nav-text {
    margin-left: 8vw;
  }
  .content-wrapper .hero-wrapper .subheading {
    width: 100%;
  }
  #projects .flex-wrapper > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    max-width: 50%;
  }
  #arrow {
    display: none;
  }
  #e81md6xk4sbq1 {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 420px) {
  .footer-nav .nav-text {
    margin-left: 10vw;
  }
  .content-wrapper {
    padding-top: 8vh;
  }
  .content-wrapper .hero-wrapper .heading {
    padding: 24px;
    padding-top: 30px;
  }
  .content-wrapper #projects {
    padding-top: 8vh;
  }
  #projects .flex-wrapper > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

.logo {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */