@font-face {
  src: url(/resources/fonts/mono-300.OTF);
  font-family: mono-300;
}
@font-face {
  src: url(/resources/fonts/heading.ttf);
  font-family: heading;
}
body {
  background-color: var(--a-b);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header-nav .nav-text {
  color: var(--f-l);
  font-family: heading;
  font-size: var(--f-t-nt);
  letter-spacing: 0px;
  line-height: var(--l-h-nt);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.header-nav .nav-text:hover {
  color: var(--f-m);
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
}

.content-wrapper {
  padding-top: 8vh;
  padding-bottom: 8vh;
}
.content-wrapper .hero-wrapper .heading {
  color: var(--f-h);
  display: flex;
  background-color: var(--f-h);
  font-family: mono-300, monospace;
  font-size: var(--f-t-h);
  letter-spacing: var(--l-s-h);
  line-height: var(--l-h-h);
  animation-name: transition-y;
  animation-duration: 0.4s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  opacity: 0;
  color: var(--b-l);
  padding: 28px;
  padding-top: 32px;
  background-color: var(--f-h);
  width: -moz-max-content;
  width: max-content;
  line-height: 0px;
}
@keyframes transition-y {
  0% {
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
  }
}
.content-wrapper .hero-wrapper .subheading {
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-sh);
  letter-spacing: var(--l-s-sh);
  line-height: var(--l-h-sh);
  animation-name: transition-y;
  animation-duration: 0.4s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
  opacity: 0;
  padding-top: 2vh;
  text-decoration: none !important;
  width: 50%;
}
@keyframes transition-y {
  0% {
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
  }
}
.content-wrapper .hero-wrapper .subheading a {
  text-decoration: none;
}
.content-wrapper .hero-wrapper .subheading a:visited {
  color: var(--f-h) !important;
}
.content-wrapper .hero-wrapper .subheading a:link {
  color: var(--f-h) !important;
}
.content-wrapper #projects {
  padding-top: 10vh;
  animation-name: transition-y;
  animation-duration: 0.4s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
@keyframes transition-y {
  0% {
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
  }
}
.content-wrapper #projects .heading {
  color: var(--f-h);
  font-family: mono-300, monospace;
  font-size: var(--f-t-body-1);
  letter-spacing: var(--l-s-body-1);
  line-height: var(--l-h-bodyp-1);
  color: var(--f-h);
}
.content-wrapper #projects .subheading {
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-body-2);
  letter-spacing: var(--l-s-body-2);
  line-height: var(--l-h-body-2);
  color: var(--f-m);
  opacity: 0.7;
  padding-top: 1.5vh;
}

.project-list a:hover {
  cursor: pointer;
}

.project-list:hover .subheading {
  opacity: 1 !important;
}

.project-list a:visited {
  text-decoration: none;
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-sh);
  letter-spacing: var(--l-s-sh);
  line-height: var(--l-h-sh);
  animation-name: transition-y;
  animation-duration: 0.4s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
  opacity: 0;
  color: white;
}
@keyframes transition-y {
  0% {
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
  }
}

.project-list a:link {
  text-decoration: none;
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-sh);
  letter-spacing: var(--l-s-sh);
  line-height: var(--l-h-sh);
  animation-name: transition-y;
  animation-duration: 0.4s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
  opacity: 0;
}
@keyframes transition-y {
  0% {
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
  }
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#projects .flex-wrapper > div {
  margin-right: 6vw;
  flex: 1 0 21%;
  max-width: 33%;
  flex-grow: 0;
  margin-bottom: 5vh;
}

/*

* Footer

*/
.footer-nav {
  width: 80vw;
  display: flex;
  position: fixed;
  bottom: 0vh;
  margin-right: 0;
  background-color: var(--a-b);
  justify-content: space-between;
  animation-name: transition-y;
  animation-duration: 0.4s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
  opacity: 0;
}
.footer-nav .lhs {
  color: var(--f-l);
  font-family: heading;
  font-size: var(--f-t-nt);
  letter-spacing: 0px;
  line-height: var(--l-h-nt);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.6;
  cursor: auto;
}
.footer-nav .lhs:hover {
  color: var(--f-m);
}
.footer-nav .rhs {
  padding-top: 3vh;
}
.footer-nav .rhs a {
  margin-left: 3vw;
  color: var(--f-l);
  font-family: heading;
  font-size: var(--f-t-nt);
  letter-spacing: 0px;
  line-height: var(--l-h-nt);
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.footer-nav .rhs a:hover {
  color: var(--f-m);
}
@keyframes transition-y {
  0% {
    transform: translateY(2vh);
  }
  to {
    opacity: 1;
  }
}
.footer-nav .heading {
  color: var(--f-h);
  font-family: mono-300, monospace;
  font-size: var(--f-t-body-1);
  letter-spacing: var(--l-s-body-1);
  line-height: var(--l-h-bodyp-1);
  color: var(--f-h);
}
.footer-nav .subheading {
  color: var(--f-m);
  font-family: mono-300, monospace;
  font-size: var(--f-t-body-2);
  letter-spacing: var(--l-s-body-2);
  line-height: var(--l-h-body-2);
  color: var(--f-m);
  opacity: 0.7;
  padding-top: 1.5vh;
}

/*

* All the media queries

*/
@media screen and (max-width: 720px) {
  .footer-nav {
    width: 88%;
  }
  .footer-nav .nav-text {
    margin-left: 6vw;
  }
  .main-wrapper {
    width: 88vw;
  }
  .header-nav {
    padding-top: 6vh;
  }
}
@media screen and (max-width: 900px) {
  .content-wrapper .hero-wrapper .subheading {
    width: 72%;
  }
  #projects {
    padding-bottom: 6vh;
  }
  #projects .flex-wrapper > div {
    flex: 1 0 40%;
    max-width: 36%;
  }
}
@media screen and (max-width: 560px) {
  .footer-nav .nav-text {
    margin-left: 8vw;
  }
  .content-wrapper .hero-wrapper .subheading {
    width: 100%;
  }
  #projects .flex-wrapper > div {
    flex: 1 0 40%;
    max-width: 50%;
  }
  #arrow {
    display: none;
  }
  #e81md6xk4sbq1 {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 420px) {
  .main-wrapper .header-nav {
    padding-top: 6vh !important;
  }
  .footer-nav .nav-text {
    margin-left: 10vw;
  }
  .content-wrapper {
    padding-top: 6vh;
  }
  .content-wrapper .hero-wrapper .heading {
    padding: 24px;
    padding-top: 30px;
  }
  .content-wrapper #projects {
    padding-top: 8vh;
  }
  #projects .flex-wrapper > div {
    flex: 1 0 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */